<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Vendedor
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <mat-list>
                    <mat-list-item
                        routerLink="seller/add-information"
                        routerLinkActive="active"
                    >
                      <span matListItemTitle>Ingresar Información</span>
                    </mat-list-item>
                    <mat-list-item
                        routerLink="seller/list-information"
                        routerLinkActive="active"
                    >
                        <span matListItemTitle>Listar Información</span>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>